@{
    ViewData["Title"] = "Not Found";
}

<div class="container text-center mt-5">
    <h1>Artist Error</h1>
    <p>@ViewBag.ErrorMessage</p>
    <a asp-action="ViewArtists" class="btn btn-custom-view">Back to View Albums</a>
</div>