/* MODULES */

/*.module-box {
    border: 1px solid #dee2e6;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);*/ /* darker base shadow */
    /*transition: box-shadow 0.2s ease-in-out;
}

    .module-box:hover {
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.18);*/ /* deeper hover shadow */
    /*}*/

/* CARDS */

/*.card,
.card-module,
.module-box {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s ease-in-out;
}

    .card:hover,
    .module-box:hover {
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.18);
    }

.card-active {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);*/ /* blue glow */
/*}*/


/* PROVIDER TAGS */

.provider-tag {
    background-color: #FFEB3B; /* medium yellow */
    color: #333; /* Dark text for contrast */
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 0.5rem;
    font-weight: 500;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.provider-tag-right {
    background-color: #FFEB3B; /* medium yellow */
    color: #333; /* Dark text for contrast */
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    float: right;
}

.tag-working {
    background-color: #C8E6C9; /* pastel green */
    color: #2E7D32;
}

.tag-broken {
    background-color: #FFCDD2; /* pastel red */
    color: #C62828;
}

.tag-mock {
    background-color: #EBCB71; /* pastel orange */
    color: #0C0909;
}

.tag-indev {
    background-color: #D6ECFF; /* pastel blue */
    color: #455A64; /* Muted slate for contrast */
